.btn-file {
    position: relative;
    overflow: hidden;
    display: block;
    width: 10em;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.error-text {
    color: #a94442;
}

.delete-link {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}